Source: git-cola
Section: vcs
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python
Build-Depends-Indep: python3, python3-qtpy, python3-setuptools, python3-setuptools-scm, python3-sphinx, rsync, git-core
Standards-Version: 4.6.0
Homepage: https://git-cola.github.io/
#Vcs-Git: git://git.debian.org/git/collab-maint/git-cola.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/git-cola.git

Package: git-cola
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-qtpy, python3-send2trash, git-core, libjs-jquery, libjs-underscore, libjs-modernizr, node-html5shiv
Recommends: gitk, xxdiff, tclsh
Description: highly caffeinated Git GUI
 Git Cola is a powerful Git GUI with a slick and intuitive user interface.
 .
 Git-cola can compare arbitrary commits using standard merge tools.
 With it you can search commit messages, content, authors, paths,
 data ranges etc. and it makes it easy to interactively edit the
 staging area.
