#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpatch/dpatch.make

package=git-cola

build: patch build-indep

build-indep:
	dh_testdir
	$(MAKE) all doc
	pod2man --section=1 --release="" --center "" debian/cola.pod > debian/cola.1
	pod2man --section=1 --release="" --center "" debian/git-difftool.pod > debian/git-difftool.1

	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-indep
	rm -f debian/cola.1
	rm -f debian/git-difftool.1
	dh_clean
	[ ! -f Makefile ] || $(MAKE) clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/$(package) prefix=/usr install install-doc install-html
	find . -name "*.pyc" -delete

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installmenu
	dh_desktop
	dh_pysupport
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
